{% extends "base.html" %}

{% block content %}
<div class="row mt-5">
    <div class="col-12 text-center">
        <h1>
            Curtain Manager
        </h1>
    </div>
</div>
{% if user.is_authenticated %}
<div class="row mt-5">
    <div class="col-12 text-center">
        <h2>
            Welcome, {{ user.name }}!
        </h2>
    </div>
</div>
<div class="row mt-5">
    <div class="col-12 text-center">
        <button
                type="button"
                class="btn btn-info btn-lg btn-block"
                onclick="location.href='/contract/list/'"
        >계약 리스트
        </button>
        <button
                type="button"
                class="btn btn-info btn-lg btn-block"
                onclick="location.href='/const/list/'"
        >시공 리스트
        </button>
        <button
                type="button"
                class="btn btn-info btn-lg btn-block"
                onclick="location.href='/customer/list/'"
        >고객 리스트
        </button>
    </div>
</div>
<div class="row mt-2">
    <div class="col-12 text-center">
        <button
                type="button"
                class="btn btn-primary btn-block"
                onclick="location.href='/manager/logout/'"
        >
            Logout
        </button>
    </div>
</div>
{% else %}
<div class="row mt-5">
    <div class="col-12 text-center">
        <button
                type="button"
                class="btn btn-primary btn-lg btn-block"
                onclick="location.href='/manager/login/'"
        >
            SignIn
        </button>
    </div>
</div>
<div class="row mt-5">
    <div class="col-12 text-center">
        <button
                type="button"
                class="btn btn-primary btn-lg btn-block"
                onclick="location.href='/manager/register/'"
        >
            SignUp
        </button>
    </div>
</div>
{% endif %}
{% endblock %}
