<!DOCTYPE html>
<html lang="en">
    <head>
        {% load static %}
        <meta charset="UTF-8" />
        <!-- Favicon -->
        <link rel="icon" href="{% static 'images/favicon.ico' %}" type="image/x-icon">
        <link rel="shortcut icon" href="{% static 'images/favicon.ico' %}" type="image/x-icon">

        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
        <title>커튼</title>
        <meta name="description" content="커튼에 오신걸 환영 합니다.">

        <!-- 네이버맵 관련 -->
        <script
                src="https://openapi.map.naver.com/openapi/v3/maps.js?ncpClientId={{ NAVER_MAP_CLIENT_ID }}"
                defer>
        </script>
        <script
                src="https://openapi.map.naver.com/openapi/v3/maps.js?ncpClientId={{ NAVER_MAP_CLIENT_ID }}&submodules=geocoder"
                defer>
        </script>

        <!-- pretendard font -->
        <link rel="stylesheet" href="https://cdn.jsdelivr.net/gh/orioncactus/pretendard/dist/web/static/pretendard.css">

        <!-- Bootstrap JS -->
        <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/js/bootstrap.bundle.min.js"></script>

        <!-- SweetAlert2 -->
        <script src="https://cdn.jsdelivr.net/npm/sweetalert2@11"></script>

        <!-- CSS -->
        <link rel="stylesheet" href="{% static 'css/bootstrap.min.css' %}">
        <link rel="stylesheet" href="{% static 'css/curtain.css' %}">
        <!-- 구조화된 데이터 추가 -->
        <script type="application/ld+json">
            {
                "@context": "https://schema.org",
                "@type": "Website",
                "name": "커튼",
                "url": "https://커튼.kr",
                "description": "커튼에 오신걸 환영 합니다."

            }
        </script>
        <!-- Open Graph & Twitter Card 메타 태그 -->
        <meta property="og:title" content="커튼">
        <meta property="og:description" content="커튼에 오신걸 환영합니다.">
        <meta property="og:image" content="/media/on.png">
        <meta property="og:url" content="https://커튼.kr">

        <meta name="twitter:card" content="summary_large_image">
        <meta name="twitter:title" content="커튼">
        <meta name="twitter:description" content="커튼에 오신걸 환영합니다.">
        <meta name="twitter:image" content="/media/on.png">
        {% block head %}
        {% endblock %}
    </head>
    <body class="{% if manager_page %}{% else %}bg-dark text-light{% endif %}">
        <!-- Django messages를 SweetAlert2 팝업으로 표시 -->
        <script>
            {% if messages %}
            {% for message in messages %}
            Swal.fire({
                text: "{{ message|escapejs }}",
                icon: "{% if message.tags %}{{ message.tags }}{% else %}info{% endif %}", // tags로 아이콘 결정
                confirmButtonText: "확인"
            });
            {% endfor %}
            {% endif %}
        </script>

        <div class="container-fluid h-100 no-gutters">
            {% block content %}
            {% endblock %}
            {% if not manager_page %}
            <!-- Footer Include -->
            {% include 'partials/footer.html' %}
            {% endif %}

        </div>
        {% block scripts %}
        {% endblock %}
    </body>
</html>
