{% extends "base.html" %}
{% load mul %}
{% block content %}
<div class="container mt-5" style="background-color: rgba(0, 0, 0, 0.7); border-radius: 15px">
    <div class="event-image text-center">
        <h1 class="display-4 logo-container">
            <a href="/" style="text-decoration: none;">
                <img src="{{ MEDIA_URL }}Godfather_WEEK.png" alt="갓파더위크 로고" class="responsive-logo">
            </a>
        </h1>
        <p class="lead">
            2025년은 디사론노 전설이 시작된 지 500주년을 맞이하는 특별한 해입니다.<br>
            전 세계적인 바와 협업하여 진행되는 디사론노 갓파더위크와 함께
            위스키와 아마레토가 만들어 내는 깊고 강렬한 풍미를 경험하세요.
        </p>
    </div>
    <div class="event-button mt-4 text-center">
        <button class="btn btn-primary btn-lg" onclick="location.href='/event_map'" style="background-color: rgba(188, 29, 33, 1);">갓파더 위크 입장</button>
    </div>
</div>
{% endblock %}